<!DOCTYPE html>
<html>
<body>

<svg height="1000" width="2000">

  <path d="M 100 350 q 200 -300 400 0" stroke="#FEF4C1" stroke-width="20" fill="none" />
    <path d="M 500 350 q 200 300 400 0" stroke="#FEF4C1" stroke-width="20" fill="none" />

  <path d="M 900 350 q 200 -300 400 0" stroke="#FEF4C1" stroke-width="20" fill="none" />
<!-- Mark relevant points -->
  <g stroke="white" stroke-width="3" fill="#F8CC80" >
    <circle id="pointA" cx="100" cy="350" r="40" />
    <circle id="pointB" cx="300" cy="200" r="40" />
    <circle id="pointC" cx="500" cy="350" r="40" />
    <circle id="pointD" cx="700" cy="500" r="40" />
    <circle id="pointE" cx="900" cy="350" r="40" />
    <circle id="pointB" cx="1100" cy="200" r="40" />
  </g>
  <!-- Label the points -->
  <g font-size="30" font-family="sans-serif" fill="black" stroke="none" text-anchor="middle">
    <text x="100" y="350" dx="-50">A</text>
    <text x="250" y="150" dy="-10">B</text>
    <text x="400" y="350" dx="-50">C</text>
    <text x="550" y="550" dy="20">D</text>
    <text x="700" y="350" dx="50">E</text>
  </g>
  Sorry, your browser does not support inline SVG.
</svg>

</body>
</html>
