.navbar-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.548);
}

.navbar-logo {
    margin-left: 4rem;
    margin-right: auto;
}

.navbar-menu {
    display: flex;
    justify-content: space-around;
    width: 25%;
    font-weight: 600;
}

.navbar-profile {
    display: flex;
    margin-right: 4rem;
    margin-left: auto;
}

.navbar-profile-text {
    padding-left: 10px;
    font-weight: 600;
}


@media (max-width: 576px) {
    .navbar-logo {
        margin-left: 2rem;
        margin-right: auto;
        width: 100px;
    }

    .navbar-profile {
        display: flex;
        margin-right: 2rem;
    }

    .navbar-profile-text {
        font-weight: 400;
        font-size: 12px;
    }

    .navbar-menu {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 1180px) {

    .navbar-main {
        justify-content: center;
        align-items: center;
    }

    .navbar-profile {
        display: flex;
        margin-right: 2rem;
    }

    .navbar-profile-text {
        font-weight: 400;
        font-size: 12px;
    }

    .navbar-menu {
        display: none;
    }
}